results/hmmsearch/hmmsearch_Pfam-A_noStrepto_on_OneKP_prot_cdhit99.txt.gz filter=lfs diff=lfs merge=lfs -text
results/hmmsearch/hmmsearch_mlgf_on_OneKP_prot_cdhit99.txt.gz filter=lfs diff=lfs merge=lfs -text
results/hmmsearch/hmmsearch_mlgf_on_refs.txt.gz filter=lfs diff=lfs merge=lfs -text
